@import "default"
@import "themes/current.rasi"

window {
    location: northeast;
    anchor: northeast;
    x-offset: -15px;
    y-offset: 45px;
    width: 350px;

    background-color: @bg;
    border: 2px;
    border-color: @border-col;
    border-radius: 12px;
}

mainbox {
    background-color: transparent;
    spacing: 10px;
    padding: 12px; /* Margen interno general de la ventana */
    children: [ "inputbar", "listview" ];
}

inputbar {
    background-color: transparent;
    spacing: 8px;
    padding: 0px;
    children: [ "prompt", "entry" ];
}

prompt {
    background-color: @selected-bg;
    text-color: @selected-fg;
    padding: 8px 12px;
    border-radius: 8px;
    font: "bold";
}

entry {
    background-color: @element-bg;
    text-color: @fg;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: text;
    placeholder: "Buscar red...";
    placeholder-color: @fg; /* Cambia a una variable de gris oscuro si tienes una en tu tema */
    vertical-align: 0.5;
}

listview {
    lines: 6;
    padding: 8px;
    spacing: 6px;
}

element-text {
    background-color: inherit;
    text-color: inherit;
}

element normal.normal, element alternate.normal {
    background-color: @element-bg;
    text-color: @fg;
    padding: 8px 12px;
    border-radius: 8px;
}

element selected.normal {
    background-color: @selected-bg;
    text-color: @selected-fg;
    border: 1px;
    border-color: @bright;
    padding: 8px 12px;
    border-radius: 8px;
}
